<div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                Categorie List 
            </div>
            <div class="card-body table-responsive">
              <table class="table">
                <thead>
                  <th>Title</th>
                  <th>Description</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr *ngFor="let category of categorie">
                    <td class="category-title" (click)="selectCategory(category)">{{ category.title }}</td>
                    <td class="category-category" (click)="selectCategory(category)">{{ category.description }}</td>
                    <td class="action-delete"><button class="btn btn-sm btn-danger" (click)="deleteCategory(category._id)"><i class="fa fa-trash"></i> Delete</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12">
          <div class="card">
            <div class="card-header">
                Add category
            </div>
            <div class="card-body">
              <form (submit)="submitForm();">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" [(ngModel)]="selectedItem.title" class="form-control" id="title" name="title" placeholder="Category title">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea  [(ngModel)]="selectedItem.description"  id="description" name="description" class="form-control" placeholder="Category description" ></textarea>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-sm btn-success" (click)="resetForm()"><i class="fa fa-repeat"></i> Rest</button>
                    <button *ngIf="this.addNew" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Add category</button>
                  <button *ngIf="!this.addNew" type="submit" class="btn btn-sm btn-secondary"><i class="fa fa-edit"></i> Edit category</button>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>